.cart {
    background-color: salmon;
    padding: 10px;
    border-radius: 10px;
}

.cart-btn {
    width: 150px;
    background: #890085;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.cart-btn:hover {
    background-color: blueviolet;
}